.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 60px;
    height: 184px;
    padding: 25px 0 25px 0;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  60px;
    height: 172px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 60px;
    height: 54px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 5px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 60px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/blueberry/downArrow.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 60px;
    height: 20px;
    cursor: pointer;
    background: transparent url(../images/blueberry/upArrow.jpg) no-repeat 0 0;
}

jcarousel-skin-tango
{
	margin-left: -5px;
}